html(lang="ja")
  head
    meta(charset="UTF-8")
    title OPENCV
    script(src="/socket.io/socket.io.js")
    link(href="/lib/js/bootstrap/css/bootstrap.min.css",rel="stylesheet")
    link(href="/css/style.css",rel="stylesheet")
  body
    div.jumbotron
      h1 #{keyword}
      div#num
      img#photo
    script(src="/js/index.main.js")