html(lang="ja")
  head
    meta(charset="UTF-8")
    title Meeting room
    meta(name="description",content="")
    meta(name="author",content="Murakami-san")
    meta(name="viewport",content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="apple-mobile-web-app-status-bar-style",content="black-translucent")
    script(src="/socket.io/socket.io.js")
    link(href="/lib/js/bootstrap/css/bootstrap.min.css",rel="stylesheet")
    link(href="/css/style.css",rel="stylesheet")
  body
    div.container-fluid
      div.row
        div#toggle
          div.button#empty
          div.button#occupied
      div.row
        img#photo
        // .
          // <iframe src="https://www.youtube.com/embed/videoseries?list=PLzPF0VICyhxZOIl_AluDmMdL1mnExUJWr&amp;controls=1&amp;showinfo=0?ecver=2&autoplay=1&volume=0&loop=1&rel=0" width="720" height="405" frameborder="0" style="position:absolute;width:100%;left:0" allowfullscreen></iframe>
    script(src="/js/index.main.js")
